html {
    --lumo-font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --lumo-line-height-m: 1.4;
    --lumo-line-height-s: 1.2;
    --lumo-line-height-xs: 1.1;
    --lumo-border-radius: 0.5em;
}

[theme~="dark"] {
    --lumo-base-color: hsl(199, 18%, 10%);
    --lumo-primary-contrast-color: #9498a8;
    --lumo-primary-text-color: rgb(175, 199, 223);
    --lumo-primary-color-50pct: rgba(102, 161, 219, 0.5);
    --lumo-primary-color-10pct: rgba(102, 161, 219, 0.1);
    --lumo-primary-color: hsl(210, 62%, 63%);
}

.bot-link {
    margin-left: .1em;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: small;
    align-self: center;
    align-items: center;
    margin-top: 2em;
}

.vaadin {
    height: 1em;
    vertical-align: middle;
    margin-left: 0.5em;
}

.menu {
    margin-top: 1em;
}
